<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
</style>
</head>
<body>
<div class="row">
  <div class="offset-4 col-md-4">
      <h3 class='text-center'>Name:- 
        <%= @admin.name %>
      </h3>
      <h3 class='text-center'>Email Id:-
        <%= @admin.email %>
      </h3>
      <h3 class='text-center'>Role:- 
        <%= @admin.status %>
      </h3>
  </div>
</div>


<%if @admin.status == "superadmin"%>
  <div>
    <form method="GET" action admin_path>
      <input type="search" placeholder="Search" name ="query">
      <button type="submit">Search</button>
    </form>
  </div>
<button><%= link_to "Show all Admin", admin_path %></button>
  <br>
  <br>
  <table>
    <tr>
      <th>Name</th>
      <th>Email_id</th>
      <th>Role</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Delete<th>
    </tr>
    <tr>
      <% @admins.each do |browse| %>
      <td><%= browse.name%></td>
      <td><%= browse.email%></td>
      <td><%= browse.status%></td>
      <td><%= browse.created_at%></td>
      <td><%= browse.updated_at%></td>
      <td>
      <%= link_to "Destroy", admin_path(browse.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
      
    </tr>
    <% end %>
  </table>
  <%else%>
    <center><h1>Hello Admin</h1></center>
  <%end%>

</body>
</html>
