<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid;
}

table {
  width: 100%;
}
</style>
</head>
<body>

<h2>Browses Data</h2>
<button><%= link_to "Browse all data", "/browses" %></button>
<button><%= link_to "Upload New File", new_browse_path %></button>
<br>
<br>
<div>
<form method="GET" action="/browses">
  <input type="search" placeholder="Search" name ="query">
  <button type="submit">Search</button>
</form>
</div>
<br>

<table>
  <tr>
    <th>Type</th>
    <th>Name</th>
    <th>Download Link</th>
    <th>Size of File</th>
    <th>Created at</th>
    <th>Uploaded by</th>
    <th>Delete</th>
    <th>Comments</th>
  </tr>
  <tr>
    <% @browses.each do |browse| %>
    
    <td><%= browse.type%></td>
    <td><%= browse.name%></td>
    <td><%= browse.link%></td>
    <td><%= browse.size%></td>
    <td><%= browse.created_at%></td>
    <td><%= browse.uploaded_by%></td>
    <td>
    <%= link_to "Destroy", browse_path(browse.id), data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></td>
    <td><%= link_to "comments", new_comment_path( browse_id: browse.id )%></td>
    
  </tr>
  <% end %>
</table>

</body>
</html>

